<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298798106740-pato2ms21ihbnd5fu66d378b10dvkbra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298798106740-pato2ms21ihbnd5fu66d378b10dvkbra</string>
	<key>API_KEY</key>
	<string>AIzaSyABXwQWqcAbTI-a9mD9xVJKrFLJE5nGDHY</string>
	<key>GCM_SENDER_ID</key>
	<string>298798106740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sahil.Message</string>
	<key>PROJECT_ID</key>
	<string>message-444e6</string>
	<key>STORAGE_BUCKET</key>
	<string>message-444e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:298798106740:ios:8dcdb66c8b676a2779a921</string>
	<key>DATABASE_URL</key>
	<string>https://message-444e6.firebaseio.com</string>
</dict>
</plist>
